*{padding: 0;margin: 0;box-sizing: border-box;}
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    background: linear-gradient(to right,rgb(233, 90, 233),rgb(233, 91, 91),pink,lightpink,hotpink);
    
    .logo{
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 40px;
        font-style: italic;
        font-weight: bold;
        color: gold;
        text-shadow: 2px 2px 4px black;
    }
    .links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        a{
            font-size: 20px;
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
    }
}